*{
  cursor: url('/public/cursor.cur'), auto;
}
:root{
  font-family: 'Get Schwifty';

}

body {
  background-image: url("../public/Wallpaper_Login.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Get Schwifty';
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}